[MASTER]
extension-pkg-whitelist=
ignore=CVS
ignore-patterns=
#init-hook=
jobs=4
load-plugins=
persistent=yes
#rcfile=
suggestion-mode=yes
unsafe-load-any-extension=no

[MESSAGES CONTROL]
confidence=
disable=intern-builtin,nonzero-method,parameter-unpacking,backtick,raw_input-builtin,dict-view-method,filter-builtin-not-iterating,long-builtin,unichr-builtin,input-builtin,unicode-builtin,file-builtin,map-builtin-not-iterating,delslice-method,apply-builtin,cmp-method,setslice-method,coerce-method,long-suffix,raising-string,import-star-module-level,buffer-builtin,reload-builtin,unpacking-in-except,print-statement,hex-method,old-octal-literal,metaclass-assignment,dict-iter-method,range-builtin-not-iterating,using-cmp-argument,indexing-exception,no-absolute-import,coerce-builtin,getslice-method,suppressed-message,execfile-builtin,round-builtin,useless-suppression,reduce-builtin,old-raise-syntax,zip-builtin-not-iterating,cmp-builtin,xrange-builtin,standarderror-builtin,old-division,oct-method,next-method-called,old-ne-operator,basestring-builtin,bad-whitespace
enable=c-extension-no-member

[REPORTS]
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)
#msg-template=
output-format=text
reports=no
score=yes

[REFACTORING]
max-nested-blocks=5
never-returning-functions=optparse.Values,sys.exit

[LOGGING]
logging-modules=logging

[SPELLING]
max-spelling-suggestions=4
spelling-dict=
spelling-ignore-words=
spelling-private-dict-file=
spelling-store-unknown-words=no

[MISCELLANEOUS]
notes=FIXME,XXX,TODO,NOTE

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no
min-similarity-lines=4

[TYPECHECK]
contextmanager-decorators=contextlib.contextmanager
generated-members=
ignore-mixin-members=yes
ignore-on-opaque-inference=yes
ignored-classes=optparse.Values,thread._local,_thread._local
ignored-modules=
missing-member-hint=yes
missing-member-hint-distance=1
missing-member-max-choices=1

[VARIABLES]
additional-builtins=
allow-global-unused-variables=yes
callbacks=cb_,_cb
dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_
ignored-argument-names=_.*|^ignored_|^unused_
init-import=no
redefining-builtins-modules=six.moves,past.builtins,future.builtins

[FORMAT]
expected-line-ending-format=
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
indent-after-paren=4
indent-string='    '
max-line-length=100
max-module-lines=1000
no-space-check=trailing-comma,dict-separator
single-line-class-stmt=no
single-line-if-stmt=no

[BASIC]
bad-functions=map,filter
good-names=i,j,k,l,x,y,a,b,n,Run,_
bad-names=foo,bar,baz,toto,tutu,tata
name-group=
include-naming-hint=yes
argument-rgx=[a-z_][a-z0-9_]{2,64}$
argument-name-hint=[a-z_][a-z0-9_]{2,64}$
attr-rgx=[a-z_][a-z0-9_]{2,64}$
attr-name-hint=[a-z_][a-z0-9_]{2,64}$
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$
const-name-hint=(([A-Z_][A-Z0-9_]*)|(__.*__))$
class-rgx=[A-Z_][a-zA-Z0-9]+$
class-name-hint=[A-Z_][a-zA-Z0-9]+$
inlinevar-rgx=[A-Za-z_][A-Za-z0-9_]*$
inlinevar-name-hint=[A-Za-z_][A-Za-z0-9_]*$
class-attribute-rgx=([A-Za-z_][A-Za-z0-9_]{2,64}|(__.*__))$
class-attribute-name-hint=([A-Za-z_][A-Za-z0-9_]{2,64}|(__.*__))$
function-rgx=[a-z_][a-z0-9_]{2,64}$
function-name-hint=[a-z_][a-z0-9_]{2,64}$
module-rgx=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$
module-name-hint=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$
method-rgx=[a-z_][a-z0-9_]{2,64}$
method-name-hint=[a-z_][a-z0-9_]{2,64}$
variable-rgx=[a-z_][a-z0-9_]{0,64}$
variable-name-hint=[a-z_][a-z0-9_]{2,64}$
no-docstring-rgx=^_.*
docstring-min-length=-1

[DESIGN]
max-args=15
max-attributes=7
max-bool-expr=5
max-branches=12
max-locals=15
max-parents=7
max-public-methods=20
max-returns=6
max-statements=50
min-public-methods=2

[CLASSES]
defining-attr-methods=__init__,__new__,setUp
exclude-protected=_asdict,_fields,_replace,_source,_make
valid-classmethod-first-arg=cls
valid-metaclass-classmethod-first-arg=mcs

[IMPORTS]
allow-wildcard-with-all=no
analyse-fallback-blocks=no
deprecated-modules=regsub,TERMIOS,Bastion,rexec
ext-import-graph=
import-graph=
int-import-graph=
known-standard-library=
known-third-party=enchant

[EXCEPTIONS]
overgeneral-exceptions=Exception
